.feynman__subtitle {
  margin: 0;
  margin-top: 0;
  margin-left: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  align-self: center;
  justify-content: flex-start;
  position: relative;
  z-index: 2;
}
