.header__subtitle {
  max-width: 388px;
  min-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  left: 64px;
  bottom: 30px;
  align-self: flex-end;
  justify-items: flex-end;
  position: absolute;
  z-index: 3;
}
