.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  align-self: flex-end;
  background-size: cover;
  z-index: 2;
  background-image: url("../../../images/header-image.png");
}
